[global]
excluded_dirs = .gradle, build, .idea
excluded_files = *.iml, local.properties

[app/src/main/java/com/example/cpplearner]
extensions = .kt, .java
include_subdirs = true
excluded_dirs = debug

[app/src/main/cpp]
extensions = .cpp, .h, .txt
include_subdirs = false
excluded_files = *.so, *.a

[app/src/main/res/layout]
extensions = .xml
include_subdirs = false

[app/src/main/res/menu]
extensions = .xml
include_subdirs = false

[app/src/main/res/navigation]
extensions = .xml
include_subdirs = false

[app/src/main/res/values]
extensions = .xml
include_subdirs = false
excluded_files = strings.xml

[specific_files]
files = build.gradle.kts, settings.gradle.kts, app/build.gradle.kts, app/src/main/AndroidManifest.xml
