[global]
excluded_dirs = .git, .vs, bin, obj, .md, .csproj, .sln, .txt
excluded_files = *.resources, *.cache, *.user, *.suo

[.]
extensions = .cs, .resx
include_subdirs = true
excluded_dirs = .git, .vs, packages

[Properties]
extensions = .cs, .settings
include_subdirs = false

[Forms]
extensions = .cs, .resx, .Designer.cs
include_subdirs = false

[Resources]
extensions = .resx, .resources
include_subdirs = false

[specific_files]
files = Program.cs, MarkdownRenderer.cs, WinApi.cs